<div class="">
  <div class="dnn_layout pt40 pb40">
    <div class="content_mid">
      <div class="carousel carousel_4 home5Carousel animation scaleUp" data-pagination="false" data-autoheight="false" data-interval="{{Settings.Interval}}" >
        {{#each Slides}}
        <div class="item">
          <div class="text-center">
            <h4>{{Title}}</h4>
            <p>{{Description}}</p>
            <p><a target="blank" href="{{LinkUrl}}" class="Button_default">{{LinkText}}</a></p>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>

