<div class="oc-boxes {{Settings.TopPadding}} {{Settings.BottomPadding}} {{Settings.CssClass}}">
<div class="SectionStyles9 clearfix">
  <div class="home5_full_left"></div>
  <div class="home5_full_right mb40 mt40">
    <h4>{{Title}}</h4>
    <p>{{Description}}</p>
    <div class="home5_right_infos">
      <div><span class="glyphicons glyph-google-maps"></span><span class="home5_info_name">Address :</span>{{Address}}</div>
      <div><span class="glyphicons glyph-phone-alt"></span><span class="home5_info_name">Phone :</span>{{Phone}}</div>
      <div><span class="glyphicons glyph-envelope"></span><span class="home5_info_name">Email :</span>{{Email}}</div>
      <div><span class="glyphicons glyph-fax"></span><span class="home5_info_name">Fax :</span>{{Fax}}</div>
      <div><span class="glyphicons glyph-parents"></span><span class="home5_info_name">Contact :</span>{{Contact}}</div>
    </div>
    <div class="home5_full_btn"><a target="blank" href="{{LinkUrl}}">{{LinkText}}</a></div>
  </div>
</div>
</div>