<div class="oc-boxes {{Settings.TopPadding}} {{Settings.BottomPadding}} {{Settings.CssClass}}">
<div class="loaded_list">	
	{{#each Boxes}}
    <p> {{Title}} </p>
    <div class="progress progress-striped active">
        <div class="bar animation animationwidth" data-width="{{Percentage}}%"><span></span></div>
    </div>
	{{/each}}
</div>
</div>

