<div class="oc-boxes {{Settings.TopPadding}} {{Settings.BottomPadding}} {{Settings.CssClass}}">
<div class="chart_list row">
	{{#each Boxes}}
    <div class="col-md-3 col-sm-6">
        <div data-percent="{{Percentage}}" class="percentage">
            <div class="percentage_inner"><span>0</span>%
                <p>{{Title}}</p>
            </div>
        </div>
    </div>
	{{/each}}
</div>
</div>
