<div class="oc-boxes {{Settings.TopPadding}} {{Settings.BottomPadding}} {{Settings.CssClass}}">
<ul class="{{Settings.Style}}" data-autoplay="3000" data-position="fade" data-display-arrows="false">
  {{#each Columns}}
  <li>
    <blockquote>
      <p>{{Description}}</p>
      <small>
        <span>{{Name}}</span>
      </small>
    </blockquote>
  </li>
  {{/each}}
</ul>
</div>