<div class="isotope_grid Text_layouts">
  <div class="isotope_group portfolios_group"> 
    <a data-filter="*" href="#" class="active">All</a> / 
  {{#each AdditionalData.Categories}}
    <a data-filter=".{{Id}}" href="#" >{{Title}}</a>{{#if @last}} {{else}} / {{/if}} 
    {{/each}}
  </div>

  <div data-min-width="{{Settings.Columns}}" class="isotope_main">
      	{{#each Items}}
      <div class="isotope_item  {{#each Category}}{{Id}} {{/each}}">
        
        	{{#if Context.IsEditable}}
            <div style="outline: 1px dashed #ccc;height: 22px !important;position:relative;margin-top:1px;">
              <ul class="dnn_mact" style="position: absolute;right:0;top:0; ">
                <li class="actionMenuEdit">
                  <a href="{{Context.EditUrl}}" title="Edit Item"></a>
                </li>
              </ul>
            </div>
            {{/if}}
                    
            <div class="photo_box">
              <div class="pic_box"> <img alt="" src="{{Image}}">
                    <div class="content">
                        <div class="vertical_center_1">
                            <div class="vertical_center_2">                              
                              <div class="ico">
                                <a  href="{{Context.DetailUrl}}"><span class="glyphicons glyph-link"></span></a>                                 
                              </div>                                                         
                            </div>
                        </div>
                    </div>
                    <div class="shade"></div>                	
            	</div>             
                <div class="text_style1">
                  <h3>{{Title}}</h3>
                  <p>{{Description}}</p>
                  <div class="text-right"><a href="{{Context.DetailUrl}}" >&gt; Learn More</a></div>
                </div>              	
             </div>
        </div>
        {{/each}}
    </div>
</div>