<div class="oc-boxes {{Settings.TopPadding}} {{Settings.BottomPadding}} {{Settings.CssClass}}">
<div class="{{Settings.Style}}">
    <div class="SectionStyles7_con pt40 pb40">
        <div class="dnn_layout SectionStyles7_main">
            <h3>Top Features</h3>
            <div class="SectionStyles7_conbox">
                <div class="icon"></div>
            </div>
            <p>Nulla tristique mi a massa convallis cursus. Nulla eu mi magna. Etiam suscipit commodo gravida. Cras suscipit, quam vitae adipiscing faucibus, risus nibh laoreet odio, a porttitor metus eros ut enim.</p>
            <div class="SectionStyles7_conbox1 number_Animation row">
                {{#each Boxes}}
                <div class="col-md-3 col-sm-6">
                    <div class="SectionStyles7_conbox2">
                        <span data-number="{{EvaluationCount}}" class="animation  number">0</span> <span class="number_name">{{Evaluation}}</span>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>
</div>



