<div class="oc-boxes {{Settings.TopPadding}} {{Settings.BottomPadding}} {{Settings.CssClass}}">
<ul class="home3topa clearfix">
  {{#each items}}
  <li><a href="{{link}}"><span class="{{icon}}"></span></a>
    <h6>{{title}}</h6>
    {{description}}
  </li>
  {{/each}}
</ul>
</div>