<script id="social-template" type="text/x-handlebars-template">
<p>
<a class="sbg-button sbg-button-facebook"  data-sbg-network="facebook"  data-sbg-url="{{Context.DetailUrl}}"  data-sbg-title="{{Title}}"  data-sbg-summary="Blog {{{Summary}}}"  data-sbg-image="{{Image}}"  data-sbg-width="600"  data-sbg-height="368" >
  <i class="sbg-button-icon fa fa-facebook"></i>
</a>
      
<a class="sbg-button sbg-button-twitter"  data-sbg-network="twitter"  data-sbg-text="{{Title}}{{Context.DetailUrl}}"  data-sbg-via="ith-gembloux"  data-sbg-hashtags="ith-gembloux"  data-sbg-width="600"  data-sbg-height="258" >
  <i class="sbg-button-icon fa fa-twitter"></i>
</a>
<!--      
<a class="sbg-button sbg-button-linkedin"  data-sbg-network="linkedin"  data-sbg-url="{{Context.DetailUrl}}"  data-sbg-title="Share Button Generator"  data-sbg-source="Aakil Fernandes"  data-sbg-summary="Create simple share buttons, no strings attached"  data-sbg-width="585"  data-sbg-height="471" >
  <i class="sbg-button-icon fa fa-linkedin"></i>
</a>
-->
<a class="sbg-button sbg-button-google-plus"  data-sbg-network="google-plus"  data-sbg-url="{{Context.DetailUrl}}"  data-sbg-width="500"  data-sbg-height="505" >
  <i class="sbg-button-icon fa fa-google-plus"></i>
</a>
      
<a class="sbg-button sbg-button-pinterest"  data-sbg-network="pinterest"  data-sbg-url="{{Context.DetailUrl}}"  data-sbg-media="{{Image}}"  data-sbg-description="{{{Summary}}}"  data-sbg-width="750"  data-sbg-height="322" >
  <i class="sbg-button-icon fa fa-pinterest"></i>
</a>

{{!--
      
<a class="sbg-button sbg-button-email"  data-sbg-network="email"  data-sbg-subject="{{Title}}"  data-sbg-body="{{{Summary}}} {{Context.DetailUrl}}" >
  <i class="sbg-button-icon fa fa-envelope"></i>
</a>
--}}
</p>
</script>