{{registerscript "jplist.core.min.js"}}
{{registerscript "jplist.filter-toggle-bundle.min.js"}}
{{registerscript "jplist.textbox-filter.min.js"}}
{{registerscript "jplist.bootstrap-pagination-bundle.min.js"}}
{{registerscript "jplist.bootstrap-sort-dropdown.min.js"}}
{{registerstylesheet "/DesktopModules/OpenContent/css/font-awesome/css/font-awesome.css"}}

{{registerscript "/DesktopModules/OpenContent/js/alpaca-1.5.8/lib/handlebars/handlebars.js"}}
{{registerscript "/DesktopModules/OpenContent/js/alpaca-1.5.8/lib/moment/min/moment.min.js"}}

{{registerstylesheet "sbg.css"}}
{{registerscript "sbg.js"}}

{{AdditionalData.Intro.Title}}


<div class="">
    <div id="demo" class="jplist" data-moduleid="{{Context.ModuleId}}">
        <div class="row">
            
            <div class="col-md-12">
                <!-- data -->
                <div class="list row text-shadow">

                </div>
                <!-- <div class="row jplist-no-results text-shadow align-center">
                    <p>No results found</p>
                </div> -->
            </div>
        </div>
		
        <div class="jplist-panel">

            
                        <!-- bootstrap pagination control -->
                        <ul class="pagination pull-left jplist-pagination"
                            data-control-type="boot-pagination"
                            data-control-name="paging"
                            data-control-action="paging"
							data-items-per-page="20"
                            data-range="1"
							data-mode=""
                            data-control-animate-to-top="true"></ul>
            
        </div>
	

    </div>
</div>